body.mod-lmdbsalescommissions .fa-percent,
body.mod-lmdbsalescommissions .fa.fa-percent,
body.mod-lmdbsalescommissions .fas.fa-percent,
body.mod-lmdbsalescommissions .pictofixedwidth.fa-percent {
	color: #f0b400;
}

body.mod-lmdbsalescommissions div.pagination li.pagination a,
body.mod-lmdbsalescommissions div.pagination li.pagination span:not(.inactive),
body.mod-lmdbsalescommissions div.pagination li.pagination a i {
	color: var(--color-black);
}

body.mod-lmdbsalescommissions progress {
	max-width: 100%;
}
